html,
body {
    margin: 0;
    padding: 0;
}
p:hover, h2:hover, a:hover {
    background-color: wheat;
    header{
        background-color:black;
        color:white;
        height: 80px;
        h3{
            text-transform: uppercase;
        }
        header{
            background-color:black;
            color:white;
            height: 80px;
    }
    #logo{
        width: 100px;
        position: relative;
        margin-top: 0.5%;
        margin-left: 5%;
    }
    #menu{
        float: right;
        margin-right: 5%;
        list-style: none;
    }
    li{
        float:left;
        padding: 20 10 20 10;
    }
    li:hover{
        background-color: orangered;
    }
    a{
        color: white;
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif ;
    }
}
#imagem_fundo {
    background: url("saude.jpg");
    height: 100%;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
       
}

#titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(176, 179, 9);
    text-shadow: 2px 2px black;
    padding-top: 20%;
    font-size: 70px;
    line-height: 0.6;

}

#subtitulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(202, 199, 5);
    margin-left: 20%;
    margin-right: 20%;
    border-top: 3px solid white;
    text-shadow: 2px 2px black;
}
#acao {
    text-shadow: 1px 1px black;
    font-family: sans-serif;
    border: 3px solid white;
    border-radius: 8px;
    color: white;
    padding: 10 20 10 20;
    text-decoration: none;
    font-size: 20px;
}

section {
    padding: 20px;
    float: left;
}
.destaque {
    background-color:whitesmoke;
}

.icone{
    width: 15%;
    margin: 10px;
    
}
.imgpolos{
    width: 60%;
        
}
.justificado{
    text-align: justify;
}
.centralizado{
    text-align: center;
}
.coluna{
    float: left;
    padding: 0 5%;
    position: relative;

}
.dois{
    width: 40%;
}

.tres{
    width:22%;
}

.quatro{
    width: 15%;
}

footer{
    background-color:black;
    float: left;
    color: white;
    width: 100%;
}